<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../lib/mui/css/mui.min.css">
    <link rel="stylesheet" href="../lib/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="stylesheet" href="../styles/shoppingCart.css">
</head>

<body>
    <div class="layout">
        <header id="header" class="mui-bar mui-bar-nav">
            <h1 class="mui-title">购物车</h1>
            <button class="mui-btn mui-btn-blue mui-btn-link mui-pull-right">完成</button>
            <button class="mui-btn mui-btn-blue mui-btn-link mui-pull-left">删除</button>
        </header>
        <div class="contenr">
            <div class="mui-scroll-wrapper">
                <div class="mui-scroll">
                    <div class="order_content">
                        <div class="con_address">
                            <div>配送地址</div>
                            <div>
                                <div class="left">
                                    <span class="mui-icon mui-icon-location"></span>
                                </div>
                                <div class="right">
                                    <div>默认地址</div>
                                    <span>广州传智播客</span>
                                </div>
                            </div>
                        </div>
                        <div class="con_totalPrice">
                            <div>总价</div>
                            <div>
                                <div class="left">总价:</div>
                                <div class="right">
                                    <span class="price">￥12345</span>
                                    <a href='javascript:;'>生成订单</a>
                                </div>

                            </div>
                        </div>
                        <div class="con_order">
                            <div>订单</div>
                            <div class="order_list">
                                <!-- <div class="order-singer" data-order='{{value}}'>
                                    <div class="mui-input-row mui-checkbox mui-left">
                                        <input name="checkbox" value="Item 2" type="checkbox" checked="">
                                    </div>
                                    <div class="pyg_oimg">
                                        <img src="../static/images/60x60.gif" alt="">
                                    </div>
                                    <div>
                                        <div class="mui-ellipsis-2">商品简介商品简介商品简介商品简介商品简介商品简介商品简介商品简介商品简介商品简介商品简介商品简介</div>
                                        <div class="mui-numbox pyg_userNum" data-numbox-min="1"
                                            data-numbox-max="{{value.goods_number}}">
                                            <button class="mui-btn mui-btn-numbox-minus" type="button">-</button>
                                            <input id="test" class="mui-input-numbox" type="number"
                                                value="{{value.amount}}">
                                            <button class="mui-btn mui-btn-numbox-plus" type="button">+</button>
                                        </div>
                                        <div>￥9999</div>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="foot_nav">
                <a class="" href="#">
                    <span class="mui-icon mui-icon-home"></span>
                    <span class="">首页</span>
                </a>
                <a class="" href="#tabbar-with-chat">
                    <span class="mui-icon mui-icon-list"></span>
                    <span class="">分类</span>
                </a>
                <a class="mui-tab-item active" href="#tabbar-with-contact">
                    <span class="fa fa-shopping-cart"></span>
                    <span class="" style='font-size: 12px'>购物车</span>
                </a>
                <a class="mui-tab-item" href="#tabbar-with-map">
                    <span class="mui-icon mui-icon-contact"></span>
                    <span class="">我的</span>
                </a>
            </div>
        </div>
    </div>
    <script type="text/template" id="orderTemp">
        {{each list value index}}
            <div class="order-singer" data-order='{{value}}'>
                <div class="mui-input-row mui-checkbox mui-left">
                    <label></label>
                    <input name="checkbox" value="Item 2" type="checkbox" checked="">
                </div>
                <div class="pyg_oimg">
                    <img src="{{value.goods_small_logo}}" alt="">
                </div>
                <div>
                    <div class="mui-ellipsis-2">{{value.goods_name}}</div>
                    <div class="mui-numbox pyg_userNum" data-numbox-min="1" data-numbox-max="{{value.goods_number}}">
                        <button class="mui-btn mui-btn-numbox-minus" type="button">-</button>
                        <input id="test" class="mui-input-numbox" type="number" value="{{value.amount}}">
                        <button class="mui-btn mui-btn-numbox-plus" type="button">+</button>
                    </div>
                    <div>￥ {{value.goods_price}}</div>
                </div>
            </div>
        {{/each}}
    </script>
    <script src="../lib/zepto/zepto.js"></script>
    <script src="../lib/arttemplate/template-web.js"></script>
    <script src="../lib/mui/js/mui.min.js"></script>
    <script src="../lib/iscroll/iscroll.js"></script>
    <script src="../js/shoppingCart.js"></script>
</body>

</html>