.layout {
  width: 100vw;
  height: 100vh;
  max-width: 640px;
  display: flex;
  flex-flow: column;
  margin: 0 auto;
}
.header {
  height: 45px;
  padding: 5px 10px;
  background-color: #eee;
}
.contenr {
  flex: 1;
  background-color: orange;
  overflow: scroll;
  padding-bottom: 40px;
  display: flex;
  overflow: hidden;
}
.contenr .conleft {
  width: 105px;
  background-color: #fff;
  overflow: hidden;
}
.contenr .conleft ul {
  width: 100%;
}
.contenr .conleft ul li {
  height: 50px;
  line-height: 50px;
  text-align: center;
  border: 1px solid #000;
}
.contenr .conright {
  flex: 1;
  overflow: hidden;
}
.contenr .conright .conrbox {
  clear: both;
}
.contenr .conright .conr_txt {
  padding: 3px;
  font-size: 16px;
}
.contenr .conright .conr_contenr {
  clear: both;
  overflow: hidden;
}
.contenr .conright .conr_contenr a {
  display: block;
  width: 32%;
  float: left;
  text-align: center;
  margin-left: 1%;
}
.contenr .conright .conr_contenr a img {
  width: 100%;
  display: block;
}
.contenr .conright .conr_contenr a span {
  display: block;
  font-size: 12px;
  padding: 3px 0 12px 0;
}
.footer {
  width: 100%;
  height: 45px;
  background-color: #fff;
  position: fixed;
  bottom: 0;
}
.footer .foot_nav {
  display: flex;
  justify-content: space-around;
  padding-top: 4px;
}
.footer .foot_nav .active {
  color: royalblue;
}
.footer .foot_nav a {
  flex: 1;
  text-align: center;
  color: #333;
}
.footer .foot_nav a span {
  font-size: 23px;
  display: block;
}
.footer .foot_nav a span:nth-last-of-type(1) {
  font-size: 12px !important;
  line-height: 1em;
}
.footer .foot_nav .mui-active {
  color: #000;
}
